In [1]:
import pandas as pd
import numpy as np

In [2]:
phys = pd.read_csv('../cleaned_data/phys_final.csv')

In [3]:
final = pd.read_csv('../web_app/morbid_final.csv')

In [7]:
df = pd.merge(phys, final[['CID','AmtReimbursed']], on='CID')

In [9]:
df.to_csv('../cleaned_data/phys_new.csv', index=False)

In [11]:
benef = pd.read_csv('../cleaned_data/benef_new_label.csv')

In [13]:
final['Gender'].value_counts()

2    323114
1    235097
Name: Gender, dtype: int64

In [29]:
phys.groupby(['AttendingPhysician']).agg([['Fraud']].sum().sort_values(by='Fraud')

                    Fraud
AttendingPhysician
PHY311001               0
PHY387235               0
PHY387236               0
PHY387239               0
PHY387241               0
...                   ...
PHY314027            1200
PHY423534            1223
PHY412132            1321
PHY350277            1628
PHY330576            2534

[82063 rows x 1 columns]

In [12]:
benef.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138556 entries, 0 to 138555
Data columns (total 26 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   BID                          138556 non-null  object
 1   Gender                       138556 non-null  int64
 2   Is_inpatient                 138556 non-null  int64
 3   Age                          138556 non-null  int64
 4   Race                         138556 non-null  int64
 5   State                        138556 non-null  int64
 6   County                       138556 non-null  int64
 7   Chronic_Alzheimer            138556 non-null  int64
 8   Chronic_Heartfailure         138556 non-null  int64
 9   Chronic_KidneyDisease        138556 non-null  int64
 10  Chronic_Cancer               138556 non-null  int64
 11  Chronic_ObstrPulmonary       138556 non-null  int64
 12  Chronic_Depression           138556 non-null  int64
 13  Chronic_Diabetes             138556 non-null  int64
 14  Chronic_IschemicHeart        138556 non-null  int64
 15  Chronic_Osteoporasis         138556 non-null  int64
 16  Chronic_rheumatoidarthritis  138556 non-null  int64
 17  Chronic_stroke               138556 non-null  int64
 18  RenalDisease                 138556 non-null  int64
 19  FullYearPlanA                138556 non-null  bool
 20  FullYearPlanB                138556 non-null  bool
 21  ChronicDisease_Num           138556 non-null  int64
 22  NumOfClaims                  138556 non-null  int64
 23  NumOfNonFraud                138556 non-null  int64
 24  NumOfPotentialFraud          138556 non-null  int64
 25  NumOfRealFraud               138556 non-null  int64
dtypes: bool(2), int64(23), object(1)
memory usage: 25.6+ MB

In [14]:
final['InpatientAnnualDeductibleAmt'].value_counts()

0    369267
1    188944
Name: InpatientAnnualDeductibleAmt, dtype: int64

In [18]:
final['ChronicDisease_Num'].value_counts()

7     83461
6     82698
5     76516
8     72362
4     60175
9     60015
10    41330
3     37887
11    21893
2     17222
1      4190
0       462
Name: ChronicDisease_Num, dtype: int64

In [19]:
final['DiagnosisCode_Num'].value_counts()

1     185153
2     119550
3      78519
4      52612
9      36805
5      27532
6      18215
7      12733
8      11629
0      10453
10      5010
Name: DiagnosisCode_Num, dtype: int64

In [20]:
final['ProcedureCode_Num'].value_counts()

0    534901
1     17820
2      4521
3       851
4       109
5         9
Name: ProcedureCode_Num, dtype: int64

In [21]:
final['lof'].describeue_counts()

-1    345415
 0    184064
 1     28732
Name: lof, dtype: int64

In [22]:
final['State'].value_counts()

5     51350
10    39073
33    35024
45    34022
14    24417
39    24251
23    21343
36    21291
34    18905
11    17003
31    15940
49    14997
44    14418
15    14213
22    13624
26    12911
50    11740
21    11261
42    10491
18    10322
1     10240
52     9792
3      9344
19     7917
24     7726
4      7571
16     7457
6      7200
37     6990
25     6682
7      5617
38     5518
17     4884
51     4644
54     4233
28     4168
20     3833
32     3456
46     3381
13     2765
30     2654
43     2002
27     1995
29     1978
47     1827
12     1706
8      1530
41     1110
53     1098
35      940
2       738
9       619
Name: State, dtype: int64