In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [4]:
phys = pd.read_csv("/Users/joy/Desktop/Datathon2020/Datathon2020data/phys_final.csv")
final = pd.read_csv('/Users/joy/Desktop/Datathon2020/Datathon2020data/final.csv')

In [5]:
phys.head()

        CID       PID AttendingPhysician  State  County     StartDt  Fraud
0  CLM46614  PRV55912          PHY390922     39     230  2009-04-12      1
1  CLM34721  PRV55912          PHY349293     39     230  2009-01-20      1
2  CLM72336  PRV55912          PHY334706     39     600  2009-10-17      1
3  CLM73394  PRV55912          PHY390614     39     280  2009-10-25      1
4  CLM32911  PRV55912          PHY380413     39     510  2009-01-08      1

In [6]:
final.head()

,CID,BID,AmtReimbursed,DeductibleAmt,Is_inpatient,Gender,Race,RenalDisease,State,County,...,DiagnosisCode_Num,ProcedureCode_Num,ChronicDisease_Num,PhysiciansNum,AdmitDiagnosInDiagnos,FullYearPlanA,FullYearPlanB,Is_Dead,lof,Reimbursed_Level
0,CLM46614,BENE11001,26000,1,1,1,1,0,39,230,...,9,0,4,1,False,True,True,False,0,20k+
1,CLM34721,BENE17521,19000,1,1,2,1,0,39,230,...,9,2,6,3,False,True,True,False,0,8k-20k
2,CLM72336,BENE21718,17000,1,1,1,1,0,39,600,...,9,1,9,2,True,True,True,False,0,8k-20k
3,CLM73394,BENE22934,13000,1,1,2,1,0,39,280,...,7,1,5,3,False,True,True,False,0,8k-20k
4,CLM32911,BENE24402,3000,1,1,2,2,0,39,510,...,1,1,8,2,False,True,True,False,0,1k-8k

In [15]:
df = final.merge(phys, on = 'CID')
df = df[['PID', 'AttendingPhysician','Reimbursed_Level','State_x','County_x','StartDt','lof']]
df = df.rename(columns = {'State_x': 'State', 'County_x':'County'})
df

,PID,AttendingPhysician,Reimbursed_Level,State,County,StartDt,lof
0,PRV55912,PHY390922,20k+,39,230,2009-04-12,0
1,PRV55912,PHY349293,8k-20k,39,230,2009-01-20,0
2,PRV55912,PHY334706,8k-20k,39,600,2009-10-17,0
3,PRV55912,PHY390614,8k-20k,39,280,2009-10-25,0
4,PRV55912,PHY380413,1k-8k,39,510,2009-01-08,0
...,...,...,...,...,...,...,...
558206,PRV54302,PHY376238,1k-8k,25,150,2009-02-08,-1
558207,PRV57762,PHY432730,1k-8k,21,230,2009-09-28,-1
558208,PRV51577,PHY338096,1k-8k,5,200,2009-07-09,-1
558209,PRV53083,PHY416646,under 300,16,490,2009-04-16,-1
558210,PRV56377,PHY392440,under 300,43,170,2009-09-20,-1

In [17]:
df.to_csv('~/Desktop/phys_with_label.csv')